{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formiguinhas da Praia | Cuidar da praia é cuidar da vida</title>
    <meta name="description" content="Conheça a história, as ações, os mutirões, as coletas e as formas de apoiar a ONG Formiguinhas da Praia.">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=2">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}"><span>🐜</span><span>Formiguinhas<br>da Praia</span></a>
            <nav>
            <a href="#historia">Nossa história</a>
            <a href="{% url 'praias_atuacao' %}">Praias</a>
            <a href="{% url 'multiroes' %}">Mutirões</a>
            <a href="{% url 'calendario' %}">Calendário</a>
           <!-- <a href="#">Bags</a> -->
            <!-- <a href="#">Coletas</a> -->
            <!-- <a href="#">Apoie</a> -->
            <!-- <a href="#">Ongs Pareiras</a> -->
            </nav>
            <a href="https://wa.me/5513997284132?text=Olá!%20Quero%20mais%20informações%20sobre%20ONG" 
                target="_blank" 
                rel="noopener noreferrer"
                class="botao-whatsapp"
                aria-label="Fale com nossos coordenadores no WhatsApp">Quero participar</a>
        </div>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Formiguinhas</p>
    </footer>

    <script src="{% static 'site_institucional/js/script.js' %}"></script>

    
</body>
</html>